@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap'); 
/* font-family: "Leckerli One", cursive; */
*{
    box-sizing: border-box;
}

body{
     font-family: "Leckerli One", cursive;
    display: flex;
     flex-wrap: wrap;
     margin: 0px;
     padding-top: 3rem;
    background: #0088b9;
}

.add{
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-color: #a2ff00;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.note{
    background: #fff;
    box-shadow: 0 0 10px 4px rgba(0,0,0,0.1);
    margin: 30px 20px;
    height: 25rem;
    width: 400px;
}

.note .tools{
    background-color: #70b000;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

.note .tools button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
    margin-left:0.5rem;
}

.note textarea{
    outline: none;
    font-size: 1.2rem;
    border: none;
    height: 25rem;
    width:100%;
    padding: 1.3rem;
    font-family: "Leckerli One", cursive;
    
}

.hidden{
    display: none;
}



